{% extends "base.html"%}

{%block title%}
{{tutorial.title}}
{%endblock%}
{%block body%}

{%for i in components%}
    
    {%if i.componentType == "1" %}
    
        {{i.componentContent}}
        
    {%elif i.componentType == "2" %}
    
        <img src={{i.image}}>
        <div caption>{{i.imageCaption}}</div>
        image
        
    {%else%}
    
        que es esto :(
        {{i.componentType}}
        
    {%endif%}
    <br>
{%endfor%}
<br>
{%for component,form in zipList%}
    <form method="post" action={% url 'app:submit' primaryKey=component.id %} >
    {% csrf_token %}
    {{form}}
     <button type="submit">Submit</button>
    </form>
    <br>
    <br>
    <br>
{%endfor%}

<a href={% url 'app:addComponent' tutorial=tutorial.id %}>add component</a>

{%endblock%}