{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />

<html>
    <header>{%block header%}runescape v6{%endblock%}</header>
        <nav>
            <ul id=navList>
                <li id=nav><a href={% url 'app:index'%}>home</a></li>
                <li id=nav><a href="google.com">link2</a></li>
                <li id=nav><a href="google.com">link3</a></li>
            </ul>
        </nav>
    <body>
        <h1>{%block title%}title{%endblock%}</h1>
        <p>
        {% block body%} body{% endblock%}
        </p>
    </body>
</html>